<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<form method="POST" th:action="@{/doctor}" th:object="${doctor}">
    <h1>Add a new Ingredient!</h1>
    <h3>Input the ingredient information ...</h3>
    <table cellspacing="5" border="0">
        <tr>
            <td align="right"><label for="id">ID: </label></td>
            <td align="right"><input type="text" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td align="right"><label for="name">Name: </label></td>
            <td align="right"><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><br><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
</body>
</html>